<ion-tabs>
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="ai-home"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="ai-equalizer"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="ai-equalizer"></ion-tab> -->
</ion-tabs>
