page-home {
  ion-grid {
    height: 100%;
  }

  ion-icon:before {
    font-size: 28px !important;
    margin-bottom: 20px;
}



  // ion-row {
  //   height: 50%;
  //   text-align: center;
  //   padding-top: 20%;
  // }
  .home-btns{
    margin: 0 auto;
    width: 260px;
    position: relative;
    height: 100%;
  }

  .home-btns label{
    position: absolute;
    text-transform: uppercase;
    width:110px;
    text-align: center;
    opacity: 0;
    transition: 1s;
  }

  .home-btns label.visible{
    opacity: 1;
  }

  .home-btns--website{
top: 110px;
left: -4px;
  }

.home-btns--notifications{
  top: 110px;
  left: 154px;
}

.home-btns--map{
  top: 260px;
  left: -4px;
}

.home-btns--info{
  top: 260px;
  left: 154px;
}

  .home-btn--icon{
    font-size: 48px;
  }

  .home-btn{
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transition: .5s;
    background-color: #595959;
  }

  .home-btn.top-left{
    top: 0;
    left: -150%;
  }

  .home-btn.top-right{
    top: 0;
    right: -150%;
  }
  .home-btn.bottom-left{
    top: 150px;
    left: -80%;
  }
  .home-btn.bottom-right{
    top: 150px;
    right: -80%;
  }

  .in-left{
    left: 0 !important;
  }

  .in-right{
    right: 0 !important;
  }

  /* landscape */
// @media screen and (orientation:landscape) {
//   ion-grid {
//     height: 100%;

//   }

//   ion-row {
//     height: 50%;
//     // text-align: center;
//     padding-top: 20%;
//   }

//   .home-btn{
// font-size: 48px;
//   }
//   }
 }


