<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: center;padding: 20px 0 50px 0; width: 100%">
          <img [src]="pushapp?.logoImageUrl" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="position: relative; height: 60%">
      <ion-col>
        <div class="home-btns">
          <button ion-button (click)="pushPage('ShortCoursesPage')" class="home-btn top-left" [ngClass]="{'in-left': isAnimate}">
        <ion-icon class="home-btn--icon" name='ai-earth'></ion-icon>
      </button>
      <label class="home-btns--website" [ngClass]="{'visible': isAnimate}">Website</label>

          <button ion-button (click)="pushPage('NotificationsPage')" class="home-btn top-right" [ngClass]="{'in-right': isAnimate}">
        <ion-icon class="home-btn--icon" name='ai-bell'></ion-icon>
    </button>
    <label class="home-btns--notifications" [ngClass]="{'visible': isAnimate}">Notifications</label>

          <button ion-button (click)="pushPage('MapPage')" class="home-btn bottom-left" [ngClass]="{'in-left': isAnimate}">
        <ion-icon class="home-btn--icon" name='ai-location'></ion-icon>
    </button>
    <label class="home-btns--map" [ngClass]="{'visible': isAnimate}">Map</label>
          <button ion-button  (click)="pushPage('InfoPage')" class="home-btn bottom-right" [ngClass]="{'in-right': isAnimate}">
        <ion-icon class="home-btn--icon" name='ai-info'></ion-icon>
    </button>
    <label class="home-btns--info" [ngClass]="{'visible': isAnimate}">Info</label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-row>
      <ion-col col-6>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon class="home-btn" name='thumbs-up'></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon class="home-btn" name='thumbs-up'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon class="home-btn" name='thumbs-up'></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon class="home-btn" name='thumbs-up'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
