<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="pushapp?.freePhone" style="text-align:center;padding: 30px 0;">
    <button ion-button round icon-start>
      <!-- <ion-icon class="home-btn--icon" name='ai-bell'></ion-icon> -->
      Call Freephone
    </button>
  </div>
  <ion-card>

    <!-- <ion-item>
          <ion-avatar item-start>
            <img src="https://randomuser.me/api/portraits/men/32.jpg">
          </ion-avatar>
          <h2>Marty McFly</h2>
          <p>November 5, 1955</p>
        </ion-item> -->

    <img [src]="pushapp?.coverImageUrl">

    <ion-card-content>
      <p [innerHTML]="pushapp?.description"></p>
    </ion-card-content>

    <!-- <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row> -->

  </ion-card>
  <div style="text-align: center;height: 42px;">
    <ion-segment [(ngModel)]="currentLocation">
      <ion-segment-button value="Auckland" (click)="setLocation(0)">
        Auckland
      </ion-segment-button>
      <ion-segment-button value="Wellington" (click)="setLocation(1)">
        Wellington
      </ion-segment-button>
      <ion-segment-button value="Christchurch" (click)="setLocation(2)">
        Christchurch
      </ion-segment-button>
    </ion-segment>
  </div>
  <div padding>
    <p>test</p>
  </div>
</ion-content>
