<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Map</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div style="text-align: center;height: 42px;">
      <ion-segment [(ngModel)]="currentLocation">
          <ion-segment-button *ngFor="let segment of segments" [value]="segment.name" [innerHTML]="segment.name" (click)="setLocation(segment)">
          </ion-segment-button>
          <!-- <ion-segment-button value="Wellington" (click)="setLocation(1)">
            Wellington
          </ion-segment-button>
          <ion-segment-button value="Christchurch" (click)="setLocation(2)">
              Christchurch
          </ion-segment-button> -->
        </ion-segment>
    </div>
  <div #map style="height: calc(100% - 42px);"></div>
</ion-content>
