//for custom icons see https://yannbraga.com/2017/06/28/how-to-use-custom-icons-on-ionic-3/
//and https://icomoon.io

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?rs3bn2');
  src:  url('../assets/fonts/icomoon.eot?rs3bn2#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?rs3bn2') format('truetype'),
    url('../assets/fonts/icomoon.woff?rs3bn2') format('woff'),
    url('../assets/fonts/icomoon.svg?rs3bn2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}-outline:before ,
  .ion-md-ai-#{$arg}:before ,
  .ion-md-ai-#{$arg}-outline:before  {
    content: $val;
    font-size: 24px;
  }
}

//home icons
@include makeIcon(location, '\e947');
@include makeIcon(bell, '\e951');
@include makeIcon(info, '\ea0c');
@include makeIcon(earth, '\e9ca');

//tab icons
@include makeIcon(home, '\e902');
@include makeIcon(equalizer, '\e992');

//other icons
@include makeIcon(arrow-left, '\ea40');


// .icon-home:before {
//   content: "\e902";
// }
// .icon-location:before {
//   content: "\e947";
// }
// .icon-bell:before {
//   content: "\e951";
// }
// .icon-equalizer:before {
//   content: "\e992";
// }
// .icon-earth:before {
//   content: "\e9ca";
// }
// .icon-info:before {
//   content: "\ea0c";
// }
// .icon-arrow-left:before {
//   content: "\ea40";
// }
