<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let notification of notifications">

    <ion-item>
      <ion-avatar item-start>
        <img [src]="notification?.author.profileImageUrl">
      </ion-avatar>
      <h2 [innerHTML]="notification?.author.displayName"></h2>
      <p>{{notification?.createdAt | fromNow}}</p>
    </ion-item>

    <img *ngIf="notification?.imageUrl" [src]="notification?.imageUrl">

    <ion-card-content>
      <p [innerHTML]="notification?.body"></p>
    </ion-card-content>

    <!-- <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row> -->

  </ion-card>
</ion-content>
