<!--
  Generated template for the ShortCoursesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Website</ion-title>
  </ion-navbar>

</ion-header>

<ion-content overflow-scroll="true">
  <iframe *ngIf="websiteUrl" class="web-page" name= "eventsPage" [src]="websiteUrl" frameBorder="0">
  </iframe>
</ion-content>
